---
import PageLayout from "@/layouts/Base.astro";
---

<PageLayout meta={{ title: "Home" }}>
  <!-- Hero section -->
  <!-- Background blur -->
  <div
    class="absolute top-0 left-1/2 md:top-[-15%] -ml-[50vw] min-h-screen w-screen pointer-events-none blur-3xl opacity-50 overflow-x-hidden"
  >
    <div
      class="absolute top-[10%] right-[-40%] w-[65%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-30 dark:opacity-10"
    >
    </div>
    <div
      class="absolute top-[10%] left-[-40%] w-[65%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-30 dark:opacity-10"
    >
    </div>
    <div
      class="absolute top-[-20%] left-[-50%] w-[85%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-10"
    >
    </div>
    <div
      class="absolute top-[-20%] right-[-50%] w-[85%] h-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-10"
    >
    </div>
  </div>
  <section
    class="max-w-4xl mx-auto px-4 relative flex items-center justify-center min-h-screen mt-0 md:-mt-24"
  >
    <div class="w-full text-center">
      <span
        class="title text-3xl sm:text-4xl bg-gradient-to-r from-accent-two/85 via-accent-one/85 to-accent-two/85 dark:from-accent-two dark:via-accent-one dark:to-accent-two bg-clip-text text-transparent"
      >
        UR-RAD 2025
      </span>
      <h2 class="text-lg sm:text-xl lg:text-2xl font-semibold mt-4 mb-2 px-2">
        The 3rd AAAI Fall Symposium on Unifying Representations for Robot
        Application Development
      </h2>
      <p class="text-base sm:text-lg mb-2 px-2">
        Westin Arlington Gateway, Arlington, VA, USA
      </p>
      <p class="text-base sm:text-lg mb-6 px-2">November 6-8, 2025</p>

      <div class="max-w-3xl mx-auto text-left mb-8 px-4">
        <h3 class="text-lg sm:text-xl font-semibold mb-4 text-center">
          About UR-RAD
        </h3>
        <div class="prose prose-citrus max-w-none text-left sm:text-justify">
          <p>
            Behind any robot task or interaction is a representation that should
            (a) enable sufficient contextualization; (b) support any existing
            predefined, learned, and/or reusable skills onboard the robot; (c)
            be verifiable at design time and behave consistently at run-time;
            and (d) can be tested, executed, and modified for reuse on a variety
            of different robot morphologies. Capturing the end user's desired
            task or interaction as a computational artifact (i.e., a
            representation) has long played a pivotal role in robotics.
          </p>
          <br />
          <p>
            Many robotic subfields have traditionally employed a variety of
            different representational techniques, often borrowing from
            artificial intelligence (AI), to achieve their respective
            objectives. Examples include variants of LTL, logic, automated
            planning languages, languages for Belief-Desire-Intention, custom
            variations of these, and many more than we can list. The problem is
            that there is a lack of awareness of these representations in the
            research community, or how these representations can/should be
            applied.
          </p>
          <br />
          <p>
            Last year, UR-RAD focused on representation trends in robotics and
            best practices for adopting existing and new representations. This
            year, based on community feedback, we are planning on elevating the
            interaction between junior and senior members of the community.
          </p>
        </div>
      </div>

      <div
        class="flex flex-col sm:flex-row justify-center gap-4 sm:space-x-4 mt-8 px-4"
      >
        <a
          href="/call-for-papers/"
          class="relative flex items-center justify-center h-10 px-4 sm:px-6 rounded-lg shadow-lg hover:brightness-110 transition-all bg-gradient-to-r from-accent-one to-accent-two"
        >
          <span class="text-bg font-semibold">Call for Papers</span>
        </a>
        <a
          href="/speakers/"
          class="relative flex items-center justify-center h-10 px-4 sm:px-6 rounded-lg shadow-lg bg-special-lighter hover:brightness-110 hover:bg-special-lightest"
        >
          <span
            class="bg-clip-text text-transparent font-semibold bg-gradient-to-r from-accent-one to-accent-two"
          >
            Speakers
          </span>
        </a>
      </div>

      <div class="mt-8 px-4">
        <p class="text-sm text-accent-two text-center">
          Contact us: <a
            href="mailto:urrad.symposium@gmail.com"
            class="citrus-link">urrad.symposium@gmail.com</a
          >
        </p>
      </div>
    </div>
  </section>

  <!-- Topics of Interest Section -->
  <section aria-label="Topics of interest" class="mt-[-100vh] pt-[100vh] px-4">
    <h2 class="title mb-6 text-lg sm:text-xl text-accent-two">
      Topics of Interest
    </h2>
    <div class="prose prose-citrus max-w-none">
      <ul
        class="list-disc list-inside space-y-2 sm:grid sm:grid-cols-1 md:grid-cols-2 gap-x-4 lg:gap-x-8"
      >
        <li>Representational trends</li>
        <li>Representations for robot learning</li>
        <li>AI planning for robotics</li>
        <li>Formal methods in robotics</li>
        <li>Natural language as a representation</li>
        <li>Novel representations & novel representation uses</li>
        <li>Representations for user interfaces</li>
        <li>Robot end-user development</li>
        <li>Robot programming interfaces & paradigms</li>
        <li>Robot runtime/control environments</li>
        <li>Opportunities for standardization</li>
        <li>Frameworks (<em>e.g.</em>, ROS or middleware)</li>
        <li>Open-source & collaboration initiatives</li>
        <li>Identifying representation requirements</li>
      </ul>
    </div>
  </section>
</PageLayout>

<!-- Debug -->
<!--
	<div class="flex justify-between flex-wrap gap-y-1.5 mt-6 text-sm font-medium">
		<div class="text-center content-center h-10 w-10 bg-color-50"><span class="text-text">50</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-75"><span class="text-text">75</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-100"><span class="text-text">100</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-150"><span class="text-text">150</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-200"><span class="text-text">200</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-250"><span class="text-text">250</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-300"><span class="text-text">300</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-350"><span class="text-text">350</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-400">
			<span class="text-text">400</span>
			<span class="text-bg">400</span>
		</div>
		<div class="text-center content-center h-10 w-10 bg-color-450">
			<span class="text-text">450</span>
			<span class="text-bg">450</span>
		</div>
		<div class="text-center content-center h-10 w-10 bg-color-500">
			<span class="text-text">500</span>
			<span class="text-bg">500</span>
		</div>
		<div class="text-center content-center h-10 w-10 bg-color-550"><span class="text-bg">550</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-600"><span class="text-bg">600</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-650"><span class="text-bg">650</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-700"><span class="text-bg">700</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-750"><span class="text-bg">750</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-800"><span class="text-bg">800</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-850"><span class="text-bg">850</span></div>
		<div class="text-center content-center h-10 w-10 bg-color-900"><span class="text-bg">900</span></div>
	</div>
	-->
